@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0px;
  margin: 0px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  @font-face {
    font-family: "neue-normal";
    font-style: normal;
    font-weight: 400;
    src: url(/public/fonts/NeueMontreal-Regular.otf) format("otf");
  }

  @font-face {
    font-family: "neue-medium";
    font-style: bold;
    font-weight: 500;
    src: url(/public/fonts/NeueMontreal-Bold.otf) format("otf");
  }

  @font-face {
    font-family: "clash-semi";
    font-style: bold;
    font-weight: 700;
    src: url(/public/fonts/ClashDisplay-Bold.otf) format("otf");
  }
}
