@keyframes bounceIn {
  0% {
    transform: translate(0, 0) rotate(0deg);
  }
  25% {
    transform: translate(5px, 5px) rotate(5deg);
  }
  50% {
    transform: translate(0, 0) rotate(0eg);
  }
  75% {
    transform: translate(-5px, 5px) rotate(-5deg);
  }
  100% {
    transform: translate(0, 0) rotate(0deg);
  }
}

.bounce {
  animation: bounceIn 1s infinite 1s;
}

.bounce:hove {
  animation: none;
}

@keyframes floatHorizontal {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(5px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.float-animation-horizontal {
  animation: floatHorizontal 4s ease-in-out infinite;
}

.float-animation-horizontal-delayed {
  animation: floatHorizontal 4s ease-in-out infinite;
  animation-delay: 2s;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

.float-animation {
  animation: float 3s ease-in-out infinite;
}

.float-animation-delayed {
  animation: float 3s ease-in-out infinite;
  animation-delay: 1.5s;
}
